{
  "branches": [
    "main"
  ],
  "repositoryUrl": "https://github.com/liatrio/demo-gh-autogov-workflows",
  "debug": "false",
  "plugins": [
    "@semantic-release/changelog",
    [
      "@semantic-release/changelog",
      "@semantic-release/github",
      [
        "@semantic-release/git",
        {
          "assets": [
            "CHANGELOG.md"
          ]
        }
      ]
    ]
  ]
}