{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "angular",
        "writerOpts": {
          "emojis": true
        }
      }
    ],
    "@semantic-release/github",
    "@semantic-release/git",
    [
      "@semantic-release/exec",
      {
        "successCmd": "sed -i 's/ENV VERSION=\".*\"/ENV VERSION=\"${nextRelease.version}\"/' Dockerfile"
      }
    ]
  ]
}